.head{
    text-align: center;
    color:red;
}

.explicit{
    /*text-align to the right next to header*/
    text-align: right;
}

.explicit button{
    background-color: rgba(0, 0, 0, 0.089);
}

.explicit h2{
    /*text color red*/
    font-size: 1.5vw;
    color: rgb(38, 228, 0);
}

.wrapper{
    position: relative;
}

#pokemon{
    text-align: center;
}

.card-header{
    text-align: center;
    color: red;
   text-align: center;
   /*move down to lower screen*/
    margin-top: 350px;

}