.head{
    text-align: center;
    color:red;
}

body{
    position: relative;
}

.explicit{
    /*text-align to the right next to header*/
    text-align: right;
}

.explicit button{
    background-color: rgba(0, 0, 0, 0.089);
}

.explicit h2{
    /*text color red*/
    font-size: 1.5vw;
    color: rgb(196, 13, 156);
}

.wrapper{
    position: relative;
}

#pokemon{
    text-align: center;
}

.card-header{
    text-align: center;
    color: red;
   text-align: center;
   /*move down to lower screen*/
    margin-top: 350px;

}

/*James*/
/* .james img{ */
   /* left: 200px;
   width: 100px;
   right: 200px;

} 


.jessie img{
    float: right;
    width: 150px;
    padding: 130px; 
   
} 

/*meowth*/
/* .meowth img{
    width: 450px ;
    object-position: -60px;
    padding: -70px;
} */

/* text bubble */

#insert-text-bubble {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40vh;
}

.Theme{
    /*move to the left top corner next to header*/
    text-align: left;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

.Theme button{
    background-color: rgba(0, 0, 0, 0.089);
}

.Theme h2{
    /*text color red*/
    font-size: 1.5vw;
    color: rgb(196, 13, 156);
}
